body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.btn-3d {
  background-color: black;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  transform: translateY(2px);
  transition: transform 0.2s, box-shadow 0.2s;
}

.btn-3d:hover {
  background-color: rgb(67, 61, 61);
  transform: translateY(0);
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5);
}

.text-attractive {
  color: #1c1a1a; 
  font-size: 24px; 
  font-weight: bolder; 
  text-shadow: 2px 2px 4px rgba(26, 24, 24, 0.3);
  transition: transform 0.2s, text-shadow 0.2s;
}

.text-attractive:hover {
  color: #474141;
  transform: scale(1.1); 
  text-shadow: 4px 4px 6px rgba(0, 0, 0, 0.5);
}

.row{
  display: flex;

}
.column{
  flex: 33.33%;
  padding: 5px;

}
.card-with-margin {
  margin-left: 120px; 
  margin-right: 90px;
}

.custom-button {
  position: relative;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
  padding: 10px 30px; /* Adjust the padding as needed */
  font-size: 16px; /* Adjust the font size as needed */
  border-radius: 50px; /* Make the button circular */
}


.bg-grey {
  background-color: grey;
}

